<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Crie uma aplicação web com um formulário de login e gerencie o controle de acesso do usuário, a aplicação deve ter as seguintes rotas:</h1>

    <p>
        / - Exibe um formulário de login com usuário e senha
        <br>
        /login - Recebe um nome de usuário e senha (nome do usuário ao contrário) e realiza o login do usuário
        <br>
        /logout - Invalida as permissões do usuário
        <br>
        /intranet - Página restrita que pode ser acessado apenas se o usuário realizou o login adequadamente. 
        <br>
        A página deve mostrar o nome do usuário na tela e apresentar um formulário para que o mesmo possa alterar o seu nome.
        <br>
        Implemente a mesma atividade utilizando os diferentes mecanismos de controle:
        <br>
        <ul>
            <li>Cookies
            <li>Session
            <li>Passport (opicional)
        </ul>  
    </p>

    <h1>Utilização: </h1>
    <p>Acessar <a href="/cookies">/cookies</a> para o exemplo usando cookies</p>
    <p>Acessar <a href="/session">/session</a> para o exemplo usando session</p>
    <p>Acessar <a href="/passport">/passport</a> para o exemplo usando passport</p>
</body>
</html>