<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Usuário Logado</h1>
    <p><a href="/cookies/logout">Fazer logout</a></p>
    <p><a href="/cookies/intranet">Ir para página intranet</a></p>
</body>
</html>

