body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li{
  margin-bottom: 10px;
}

form input{
  margin-bottom: 15px;
}

#mudarCor{
  font-variant-caps: all-petite-caps;
  padding: 2px;
}
