<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova</title>

    <link rel="stylesheet" href="/css/style.css">

    <style>
        .alto { background-color: rgb(231, 87, 87); }
        .medio { background-color: rgb(253, 253, 86); }
        .baixo { background-color: rgb(93, 235, 93); }
    </style>
    
</head>
<body>
    <div class="nova-atividade-div">
        <p class="nova-atividade-text">Nova atividade: </p>
        <form action="/tarefas/new" method="post">
            {{#task.id}}
            <input type="hidden" name="id" value="{{.}}">
            {{/task.id}}
            <input type="text" name="nome" id="nome" placeholder="Tarefa">
            <select name="situacao" id="situacao">
                <option>Situação</option>
                {{#situacao}}
                <option value={{value}} {{#selected}}selected{{/selected}}>{{nome}}</option>
                {{/situacao}}
            </select>
            <input type="submit" value="Salvar" name="submit" id="submit">
        </form>
    </div>

    <h1>Aguardando</h1>
    <hr>
    <ul class="ul-aguardando">
        {{#aguardando}}
            <li><span>{{name}}</span> <a href="tarefas/updt/{{id}}">iniciar</a></li>
        {{/aguardando}}
    </ul>

    <h1>Em Andamento</h1>
    <hr>
    <ul class="ul-andamento">
        {{#andamento}}
            <li id="andamento-prioridade" data-id="{{ id }}" class="baixo"><span id="mudar-cor">{{name}}</span> <a href="/tarefas/del/{{id}}">concluir</a></li>
        {{/andamento}}
    </ul>

    <h1>Finalizados</h1>
    <hr>
    <ul class="ul-finalizados">
        {{#finalizadas}}
            <li class="baixo"><span><s>{{name}}</s></span></li>
        {{/finalizadas}}
    </ul>


    <script src="javascripts/codes.js" type="module"></script>
</body>
</html>